* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;  
}

body {
  margin: 0 auto 0;
}

header {
  display: flex;
  width: 100vw;
  height: 7.2rem;
  padding: 1.2rem 2.8rem;
  align-items: center;
  gap: 2.55rem;

  background: #065E7C;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  font-family: 'Mulish', sans-serif;  
  color: #FFF;

  width: 100%;
  padding: 1.2rem;

  border-radius: .4rem;
  background: rgba(255, 255, 255, 0.20);
  border: 0;

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: #FFF;
}

header img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

#title-image {
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  margin: 2.2rem 3.1rem;
}

.title h2, aside h2 {
  color: #202024;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
}

.title img {
  margin-top: .8rem;
  margin-right: .8rem;
}

.content p {
  color: #121214;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 3.1rem;
  margin: 3rem;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

li {
  width: 92vw;
  height: 84px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

li img {
  width: 15rem;
  height: 84px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px;
}

li > div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

li h3 {
  color:#202024;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}

li p {
  color: #121214;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

footer {
  display: flex;
  width: 100vw;
  height: 6.2rem;
  padding: 1.6rem;
  align-items: center;
  justify-content: center;
  gap: 2.55rem;

  background: #065E7C;
}

footer p {
  color: #FFF;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

@media (min-width: 768px) {
  header {
    padding: 12px 112px 12px 112px ;
  }
  #tittle-image {
    border-radius: 5px;
  }
  main {
    display: grid;
    grid-template-areas: "section aside";
    grid-template-columns: 80rem 1fr;
  }

  section {
    padding: 44px 34px 39px 110px;
  }

  .article {
    width: 60rem;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }
  
  aside {
    margin-top: 0;
    padding: 44px 34px 39px 110px;
  }

}
  


